
<head>
  <meta charset="UTF-8">
  <title>POSTstuff</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <header>
      <h1>
        POSTstuff Community Blog
      </h1>
    </header>

      <main>
        {{{ body }}}
      </main>
  </body>

</html>