
<head>
  <meta charset="UTF-8">
  <title>Black Mesa Memo Board</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <header>
      <h1>
        Black Mesa Memo Board
      </h1>
      <nav>
        <a href="/">Home</a>
        <a href="/dash">Dashboard</a>
        <a href="/login">Login</a>
      </nav>
    </header>

      <main>
        {{{ body }}}
      </main>
  </body>

</html>