
<head>
  <meta charset="UTF-8">
  <title>Black Mesa Memo Board</title>
  <link rel="stylesheet" href="/css/style.css">
  
</head>

<body>

    <header>
      <h1>
        Black Mesa Memo Board
      </h1>
      <nav>
        <a href="/">Home</a>
        {{#if loggedIn}}
        <a href="/dash">Dashboard</a>
        {{/if}}
        {{#if loggedIn}}
        <a href="/logout">Logout</a>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
    </header>

      <main>
        {{{ body }}}
      </main>
  </body>
</html>