<h1>DASHBOARD</h1>

<h2>New Post:</h2>
<h3>Title</h3>
<input type="text" placeholder="Post title">
<h3>Post</h3>
<textarea id="comment-input" placeholder="Post content."></textarea>
<button>submit</button>

<h2>Post History:</h2>